


.title-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 2.5rem serif;
    margin: 50px;
}

.main-title{
    font: bold 2.5rem serif;
}


/* Estilos formulario ---------------------------------- */
.form-cont{
    margin: 20px;
    width: 35vw;
    height: 97vh;
    justify-content: center;
    align-items: center;
}

.main-form{
    display: flex;
    flex-direction: column;
    background: rgba(255, 0, 0, 0.671);
    width: 500px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
  }

  .text-box{
    display: flex;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border:none;
    font: bold 1.5rem serif;
    text-align: center;
    margin-top: 10px;
  }

.form-title-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem serif;
  }

.form-title{
    font: bold 2.5rem serif;
  }

  .label{
    font: bold 1.3rem serif;
  }

.btn{
    margin-top: 30px;
    width: 200px;
    height: 40px;
    font: bold 1.2rem serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
  }

  /* estilos main --------------------------------------*/

/* .card-cont{
    margin: 20px;
    width: 50%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.fil-form{
    display: flex;
    background: rgba(255, 0, 0, 0.671);
    width: 30%;
    height: 60px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.fil-box{
    display: flex;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border:none;
    font: bold 1rem serif;
    text-align: center;
}

.fil-btn{
    width: 100px;
    height: 25px;
    font: bold 1rem serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
} */

